@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
  margin: 0%;
  padding: 0%;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin: 0.8rem;
  color: #1f426f;
}

.joinChatContainer p {
  text-align: center;
  color: #1f426f;
}

.joinChatContainer input {
  width: 13.125rem;
  height: 2.5rem;
  margin: 0.438rem;
  border: 3px solid #3d6cab;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 1rem;
}

.joinChatContainer button {
  width: 14.063rem;
  height: 3.125rem;
  margin: 0.438rem;
  border: none;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 1.313rem;
  background: #3d6cab;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #1f426f;
}

.chat-window {
  width: 25rem;
  height: 26.25rem;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 3.438rem;
  border-radius: 6px 6px 0 0;
  background: #263238;
  border: 3px solid #3d6cab;
  border-bottom: none;
  position: relative;
  cursor: pointer;
}

.chat-header:hover {
  height: 3.438rem;
  border-radius: 6px 6px 0 0;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em;
  padding-top: 0.313rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2.813rem;
}

.chat-window .chat-body {
  height: calc(38.75rem - (2.813rem + 4.375rem));
  border: 3px solid #3d6cab;
  background: #fff;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 0.625rem;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 2.5rem;
  max-width: 8.75rem;
  background-color: #43a047;
  border-radius: 0.313rem;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 0.313rem;
  margin-left: 0.313rem;
  padding: 0.188rem 0.313rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 0.313rem;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 0.313rem;
}

.message-meta #author {
  margin-left: 0.625rem;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 0.75rem;
}

.chat-window .chat-footer {
  height: 2.5rem;
  border: 3px solid #3d6cab;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 1.563rem;
  color: white;
  background-color: #43a047;
}

.chat-window .chat-footer button:hover {
  background-color: #2e7d32;
  color: #white;
}

.hide {
  opacity: 0 !important;
}

.home-wrapper {
  border: 3px solid #3d6cab;
  background-color: #B3CFF4;
  padding: 5rem;
  border-radius: 0.375rem;
}

.chat-wrapper {
  border: 3px solid #3d6cab;
  border-radius: 0.375rem;
  background-color: #B3CFF4;
  padding: 4rem;
  height: 37.5rem;
}
